/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {}

.container {
    width: 25%;
    margin: 0 auto;
    background-color: #D1D1D1;
    margin-top: 30px;
    border-radius: 10px;

}

.logo {
    text-align: center;
}

.display {
    background-color: #000000;
    color: #09D296;
    font-weight: 300;
    font-size: 75px;
    padding: 15px;
    text-align: end;
    font-family: 'Seven Segment';
}
button{
    border-radius: 10px;
}

.tastiera {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    flex-wrap: nowrap;
}

.numeri {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.num {
    background-color: #BBBBBB;
color: #000000;
    font-weight: 300;
    font-size: 30px;
    margin: 10px;
    height: 55px;
    width: 55px;

}

.operatori {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.opo {
    background-color: #FF9F0A;
    color: white;
    font-weight: 300;
    font-size: 30px;

}
.opa {
    background-color: #77A8B0;
    color: white;
    font-weight: 300;
    font-size: 30px;

}
.quadrato{
    margin: 10px;
    height: 55px;
    width: 55px;
}

.rettangolo{
    margin: 10px;
    height: 40px;
    width: 55px;
}
.btn0{
    height: 55px;
    width: 130px;
}